@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");


.comp-intere-cal-bg-container {
    background-image: linear-gradient(to right, #09203f, #537895);
}

.comp-intere-cal-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 600;
}

.comp-intere-cal-container {
    border-radius: 10px;
}

.input-label {
    color: black;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 6px;
}

.user-input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #cbd2d9;
    border-radius: 4px;
    padding-left: 12px;
}

.output-val {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 4px;
    padding-left: 12px;
}

.my-name-para {
    color: white;
    font-family: "forte";
    font-size: 18px;
    margin-top: 15px;
}

.simple-intere-cal-bg-container {
    background-image: linear-gradient(to right, pink, green);
}

.Simple-intere-cal-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 600;
}

.Simple-intere-cal-container {
    border-radius: 10px;
}

.input-label1 {
    color: black;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 6px;
}

.user-input1 {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: #cbd2d9;
    border-radius: 4px;
    padding-left: 12px;
}

.output-val1 {
    width: 100%;
    height: 40px;
    font-size: 16px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 4px;
    padding-left: 12px;
}

.my-name-para1 {
    color: white;
    font-family: "Forte";
    font-size: 18px;
    margin-top: 15px;
}
